body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Loader CSs */

@keyframes ldio-pyfl4gzymaj {
   0% { transform: translate(12px,80px) scale(0); }
  25% { transform: translate(12px,80px) scale(0); }
  50% { transform: translate(12px,80px) scale(1); }
  75% { transform: translate(80px,80px) scale(1); }
 100% { transform: translate(148px,80px) scale(1); }
}
@keyframes ldio-pyfl4gzymaj-r {
   0% { transform: translate(148px,80px) scale(1); }
 100% { transform: translate(148px,80px) scale(0); }
}
@keyframes ldio-pyfl4gzymaj-c {
   0% { background: #e15b64 }
  25% { background: #abbd81 }
  50% { background: #f8b26a }
  75% { background: #f47e60 }
 100% { background: #e15b64 }
}
.ldio-pyfl4gzymaj div {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate(80px,80px) scale(1);
  
  background: #e15b64;
  animation: ldio-pyfl4gzymaj 1s infinite cubic-bezier(0,0.5,0.5,1);
}
.ldio-pyfl4gzymaj div:nth-child(1) {
  background: #f47e60;
  transform: translate(148px,80px) scale(1);
  animation: ldio-pyfl4gzymaj-r 0.25s infinite cubic-bezier(0,0.5,0.5,1), ldio-pyfl4gzymaj-c 1s infinite step-start;
}.ldio-pyfl4gzymaj div:nth-child(2) {
  animation-delay: -0.25s;
  background: #e15b64;
}.ldio-pyfl4gzymaj div:nth-child(3) {
  animation-delay: -0.5s;
  background: #f47e60;
}.ldio-pyfl4gzymaj div:nth-child(4) {
  animation-delay: -0.75s;
  background: #f8b26a;
}.ldio-pyfl4gzymaj div:nth-child(5) {
  animation-delay: -1s;
  background: #abbd81;
}
.loadingio-spinner-ellipsis-0r0loqdzi9xi {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-pyfl4gzymaj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-pyfl4gzymaj div { box-sizing: content-box; }

/* Loader CSs End*/